body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* NAVBAR */
nav {
    height: 100px;
}

#logo {
    font-size: 40px;
}

@media screen and (max-width: 600px) {
    #logo {
        font-size: 20px;
    }
}

#logo-icon {
    font-size: 4rem;
}

#matchPhoto {
    margin: 0 auto;
    height: 220px;
    width: auto;
}
